@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
    padding: 10px;
    margin: 0;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul li h5 {
    font-size: 35px !IMPORTANT;
    font-weight: 700 !IMPORTANT;
    text-transform: uppercase;
}

ul li span {
    font-family: sans-serif;
    font-size: 19px;
}

svg {
    color: cadetblue;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}